**Неделя 2. Домашнее задание**

In [1]:
import pandas as pd
import numpy as np

In [2]:
# чтение данных из файла с расширением .csv
df = pd.read_csv('contest_train_df.csv')

**Вопрос 1.** Какое значение лежит в колонке Formation_lbl по индексу 297?

In [3]:
df['Formation_lbl'].iloc[297]

'23'

**Вопрос 2.** Сколько в датасете признаков, у которых всего 2 уникальных значения?

In [4]:
sum([1 for i in range(df.shape[1]) if df[df.columns[i]].nunique() == 2])

4

**Вопрос 3.** Сколько уникальных значений в признаке Water_cut?

In [5]:
df['Water_cut'].nunique()

673

**Вопрос 4.** Совпадает ли медиана и среднее у признака Extend_Hvd?

In [6]:
if df['Extend_Hvd'].median() == df['Extend_Hvd'].mean():
    print('да')
else:
    print('нет')

нет

**Вопрос 5.** Какое максимальное значение у признака NomPodacha?

In [7]:
df['NomPodacha'].max()

1325.0

**Вопрос 6.** Каков процент (%) пропусков в колонке NomNapor? Округлите ответ до двух знаков после запятой.

In [8]:
np.round(df['NomNapor'].isnull().sum() / df['NomNapor'].size * 100, 2)

4.43

**Вопрос 7.** Во сколько раз уменьшится размер датафрейма если сделать drop_duplicates по колонкам 'Dnkt','Dnytr'? Округлите ответ до целых.

In [9]:
np.round(df.shape[0] / df.drop_duplicates(subset=['Dnkt', 'Dnytr']).shape[0])

1076.0

**Вопрос 8.** Изменится ли среднее значение признака NomNapor если заполнить в нём пропуски значением 0?

In [10]:
if df['NomNapor'].fillna(0).mean() != df['NomNapor'].mean():
    print('да')
else:
    print('нет')

да

**Вопрос 9.** У скольки объектов при группировке по Well_ID среднее и медиана по признаку state_age не равны?

In [11]:
df_grouped = df.groupby('Well_ID')
df_grouped.aggregate({'state_age':lambda x: 
                      np.round(np.median(x))!=np.round(np.mean(x))}).sum()

state_age    3843
dtype: int64

**Вопрос 10.** С помощью функции aggregate найдите максимум, минимум, медиану по признакам Q_OIS, Water_cut, NomMoschn, P_plst для каждой скважины (по датафрейму, сгруппированному по Well_ID).  
Посчитайте коэффициент корреляции Пирсона для этих агрегатов.  
Есть ли среди этих агрегатов такие, коэффициент корреляции у которых больше 0.8?

In [12]:
agg_df = df.pivot_table(values=['Q_OIS', 'Water_cut', 'NomMoschn', 'P_plst'],
               index='Well_ID',
               aggfunc=['max','min','mean'])

agg_df

              max                                min                         \
        NomMoschn P_plst   Q_OIS Water_cut NomMoschn P_plst Q_OIS Water_cut
Well_ID
0           552.0  165.0  1150.0      88.0     552.0  162.0   0.0      83.0
1           238.6  165.0   450.0      82.0     238.6  154.0   0.0      66.0
2           552.0  169.0  1152.0      81.0     552.0  168.0   0.0      78.0
3           552.0  182.0  1100.0      93.0     552.0  166.0   0.0      72.0
4           552.0  213.0  1415.0      92.0     552.0  192.0   0.0      80.0
...           ...    ...     ...       ...       ...    ...   ...       ...
8689         80.0  242.0   118.0      98.0      32.0  168.0   0.0      29.0
8690         56.0  242.0   104.0      94.0      32.0  187.0   0.0      19.0
8691         45.0  233.0    80.0      92.0      28.0  190.0   0.0      66.0
8692         36.0  165.0    45.0      70.0      32.0  163.0   0.0      60.0
8693         70.0  332.0    59.0      76.0      70.0  268.0   0.0      70.0

               mean
          NomMoschn      P_plst        Q_OIS  Water_cut
Well_ID
0        552.000000  162.897297  1079.049180  85.625000
1        238.600000  159.684783   391.501859  78.118577
2        552.000000  168.489011  1084.796703  80.108571
3        552.000000  173.513514   953.243697  78.406542
4        552.000000  203.500911  1061.748359  84.833333
...             ...         ...          ...        ...
8689      55.803815  187.027248    38.827957  65.560000
8690      47.936248  201.744991    25.975962  29.545455
8691      34.970909  214.154545    30.319767  83.816176
8692      34.557377  164.278689    18.080645  66.317073
8693      70.000000  301.211957    36.487805  75.371429

[7288 rows x 12 columns]

In [13]:
# таблица коэффициентов корреляции
df_corr = agg_df.corr()
df_corr

                     max                                     min            \
               NomMoschn    P_plst     Q_OIS Water_cut NomMoschn    P_plst
max  NomMoschn  1.000000 -0.215784  0.806068  0.409845  0.725220 -0.290738
     P_plst    -0.215784  1.000000 -0.343996 -0.365074 -0.237583  0.776625
     Q_OIS      0.806068 -0.343996  1.000000  0.530348  0.637487 -0.407702
     Water_cut  0.409845 -0.365074  0.530348  1.000000  0.307717 -0.372213
min  NomMoschn  0.725220 -0.237583  0.637487  0.307717  1.000000 -0.186578
     P_plst    -0.290738  0.776625 -0.407702 -0.372213 -0.186578  1.000000
     Q_OIS     -0.005863 -0.005528 -0.002539  0.004047  0.002769 -0.004133
     Water_cut  0.355815 -0.492744  0.505428  0.741859  0.398733 -0.364785
mean NomMoschn  0.934839 -0.249047  0.799497  0.396042  0.894460 -0.273777
     P_plst    -0.274020  0.921320 -0.402329 -0.386612 -0.221176  0.935577
     Q_OIS      0.796733 -0.364855  0.893742  0.484103  0.736053 -0.378598
     Water_cut  0.436170 -0.454968  0.580629  0.924370  0.390028 -0.401667

                                        mean
                   Q_OIS Water_cut NomMoschn    P_plst     Q_OIS Water_cut
max  NomMoschn -0.005863  0.355815  0.934839 -0.274020  0.796733  0.436170
     P_plst    -0.005528 -0.492744 -0.249047  0.921320 -0.364855 -0.454968
     Q_OIS     -0.002539  0.505428  0.799497 -0.402329  0.893742  0.580629
     Water_cut  0.004047  0.741859  0.396042 -0.386612  0.484103  0.924370
min  NomMoschn  0.002769  0.398733  0.894460 -0.221176  0.736053  0.390028
     P_plst    -0.004133 -0.364785 -0.273777  0.935577 -0.378598 -0.401667
     Q_OIS      1.000000  0.012187 -0.002171 -0.005789  0.002143  0.008220
     Water_cut  0.012187  1.000000  0.412720 -0.450164  0.516519  0.899323
mean NomMoschn -0.002171  0.412720  1.000000 -0.279410  0.839936  0.456077
     P_plst    -0.005789 -0.450164 -0.279410  1.000000 -0.396364 -0.449115
     Q_OIS      0.002143  0.516519  0.839936 -0.396364  1.000000  0.552280
     Water_cut  0.008220  0.899323  0.456077 -0.449115  0.552280  1.000000

In [14]:
# список агрегатов с КК > 0.8
print('Агрегаты с коэффициентом корреляции > 0.8\n')
count = 0
for i in range(df_corr.shape[0]):
    for j in range(i + 1, df_corr.shape[0]):
        if i != j and df_corr.iloc[i, j] > 0.8:
            count += 1
            print(df_corr.iloc[i].name, df_corr.columns[j])
print('\nВсего: ', count)

Агрегаты с коэффициентом корреляции > 0.8

('max', 'NomMoschn') ('max', 'Q_OIS')
('max', 'NomMoschn') ('mean', 'NomMoschn')
('max', 'P_plst') ('mean', 'P_plst')
('max', 'Q_OIS') ('mean', 'Q_OIS')
('max', 'Water_cut') ('mean', 'Water_cut')
('min', 'NomMoschn') ('mean', 'NomMoschn')
('min', 'P_plst') ('mean', 'P_plst')
('min', 'Water_cut') ('mean', 'Water_cut')
('mean', 'NomMoschn') ('mean', 'Q_OIS')

Всего:  9